Repository Som-Energia/somenergia-jardiner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

build-builder-image-pre-release:
  variables:
    SOMENERGIA_PROJECT_ENVIRONMENT: production
    SOM_JARDINER_DB_USER: $SOM_JARDINER_DB_USER
    SOM_JARDINER_DB_PASSWORD: $SOM_JARDINER_DB_PASSWORD
    SOM_JARDINER_DB_DBNAME: $SOM_JARDINER_DB_DBNAME
    SOM_JARDINER_DB_PORT: $SOM_JARDINER_DB_PORT
    SOM_JARDINER_DB_HOST: $SOM_JARDINER_DB_HOST
  ...

build-app-image-pre-release:
  variables:
    SOMENERGIA_PROJECT_ENVIRONMENT: production
    SOM_JARDINER_DB_USER: $SOM_JARDINER_DB_USER
    SOM_JARDINER_DB_PASSWORD: $SOM_JARDINER_DB_PASSWORD
    SOM_JARDINER_DB_DBNAME: $SOM_JARDINER_DB_DBNAME
    SOM_JARDINER_DB_PORT: $SOM_JARDINER_DB_PORT
    SOM_JARDINER_DB_HOST: $SOM_JARDINER_DB_HOST
  ...

release-dbt-docs-image:
  stage: release
  before_script:
  - echo "Logging in to Docker Hub"
  - docker login -u $SOM_HARBOR_DADES_USER -p $SOM_HARBOR_DADES_PASSWORD $SOM_HARBOR_DADES_URL
  script:
  - echo "Building dbt docs image"
  ...

release-mkdocs-image:
  variables:
    GIT_DEPTH: 0
    MKDOCS_IMAGE_NAME: $SOM_HARBOR_DADES_URL/somenergia-jardiner-mkdocs:latest
  before_script:
  - echo "Logging in to Docker Hub"
  - docker login -u $SOM_HARBOR_DADES_USER -p $SOM_HARBOR_DADES_PASSWORD $SOM_HARBOR_DADES_URL
  script:
  - echo "Building mkdocs image"
  ...

change: duplicate dbt models so that legacy and jardiner tags don't cross (et/somenergia-jardiner!30)
  dbt_jardiner/dbt_project.yml
  dbt_jardiner/models/legacy/datasets/plant_production_hourly.sql
  dbt_jardiner/models/legacy/operational/external_data/satellite_readings_daily.sql
  dbt_jardiner/models/legacy/operational/plant/gestio_actius_plant_parameters__raw_legacy.sql
  dbt_jardiner/models/legacy/operational/solargis/satellite_readings__denormalized_legacy.sql
  dbt_jardiner/models/legacy/operational/solargis/satellite_readings__hourly_legacy.sql
  dbt_jardiner/models/legacy/operational/solargis/solargis_satellite_readings__temp_and_pv_energy_legacy.sql
Due: build-app-image-pre-release, release-dbt-docs-image

ci: update dbt test should run in pre and prod depending on context (et/somenergia-jardiner!33)
  .gitlab-ci.yml
  dbt_jardiner/tests/test_repeated_device_uuid_errors.sql
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

feature: dag and dbt transformations for mhcil files (et/somenergia-jardiner!31)
  dags/dag_simel_mhcil_nas_mirror_from_minio.py
  dbt_jardiner/models/jardiner/intermediate/simel/.gitkeep
  dbt_jardiner/models/jardiner/intermediate/simel/_simel__models.yaml
  dbt_jardiner/models/jardiner/intermediate/simel/_simel__sources.yaml
  dbt_jardiner/models/jardiner/intermediate/simel/raw_airbyte_simel__simel_mhcil_nas.sql
  poetry.lock
  pyproject.toml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

new: add plant uuid in dm_plants (et/somenergia-jardiner!35)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset__last_registries.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_last_registries_irradiation.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_metrics_long_hourly.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_metrics_wide_hourly.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__with_signal_metadata.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_signal_device_relation__distinct_devices.sql
  dbt_jardiner/models/jardiner/intermediate/erp/int_erp_meter_registry__hourly.sql
  dbt_jardiner/models/jardiner/intermediate/int_plants_overview_instant.sql
  dbt_jardiner/models/jardiner/intermediate/meteologica/_int_meteologica__models.yml
  dbt_jardiner/models/jardiner/intermediate/meteologica/int_energy_forecasts__best_from_plantmonitordb.sql
  dbt_jardiner/models/jardiner/intermediate/obt/obt_hourly_incremental.sql
  dbt_jardiner/models/jardiner/intermediate/solar_events_ephem/int_plantmonitordb_solarevent__generous.sql
  dbt_jardiner/models/jardiner/intermediate/solargis/int_satellite_readings__denormalized.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_energy_inverter__agg_monthly_for_om.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_responses__check_if_we_receive_data_for_signals.sql
  dbt_jardiner/models/jardiner/marts/dm_metrics_production_5min.sql
  dbt_jardiner/models/jardiner/marts/dm_metrics_production_5min_wide.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_daily.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_hourly.sql
  dbt_jardiner/models/jardiner/marts/dm_plants.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/_raw_gestio_actius__models.yaml
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius__signal_denormalized.sql
  dbt_jardiner/models/jardiner/raw/plantmonitor_erp/raw_meterregistry.sql
  dbt_jardiner/models/jardiner/raw/plantmonitor_erp/raw_plantmonitor_plants.sql
  dbt_jardiner/tests/test_dset_signals_receiver.sql
  dbt_jardiner/tests/test_repeated_device_uuid_errors.sql
Due: none

fix: make unique source of truth for plant name from table `plant_parameters` (et/somenergia-jardiner!36)
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
  dbt_jardiner/models/jardiner/intermediate/meteologica/_int_meteologica__models.yml
  dbt_jardiner/models/jardiner/intermediate/meteologica/int_energy_forecasts__best_from_plantmonitordb.sql
  dbt_jardiner/models/jardiner/intermediate/obt/obt_hourly_incremental.sql
  dbt_jardiner/models/jardiner/marts/_marts__models.yaml
  dbt_jardiner/models/jardiner/raw/gestio_actius/_raw_gestio_actius__models.yaml
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius_plant_parameters.sql
  dbt_jardiner/models/jardiner/raw/plantmonitor_erp/raw_plantmonitor_plants.sql
  dbt_jardiner/snapshots/snapshot_plant_parameters.sql
Due: none

change: add units to columns in dbt models for dashboard overview (et/somenergia-jardiner!37)
  dbt_jardiner/models/jardiner/intermediate/int_plants_overview_instant.sql
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_instant.sql
Due: none

Update default issue template with default labels
  .gitlab/issue_templates/default.md
Due: none

feature: test dbt missing uuids from dset (et/somenergia-jardiner!39)
  .gitignore
  dags/dbt_test_quality_dset.py
  dbt_jardiner/dbt_project.yml
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__tests.yaml
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__api_response_validate_uuids.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__deduplicated.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__view_current_hour.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__with_signal_metadata.sql
  dbt_jardiner/models/jardiner/marts/_marts__models.yaml
  dbt_jardiner/models/jardiner/marts/dm_dset_responses__check_if_we_receive_data_for_signals.sql
  dbt_jardiner/models/jardiner/raw/dset/_raw_dset__models.yaml
  dbt_jardiner/models/jardiner/raw/dset/_raw_dset__tests.yaml
  dbt_jardiner/models/jardiner/raw/dset/raw_dset_responses__api_response.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius__signal_denormalized.sql
  dbt_jardiner/tests/test_dset_incoming_uuids_have_references_in_signal_denormalized.sql
  dbt_jardiner/tests/test_dset_raw_uuids_not_empty_or_null_3_days.sql
  dbt_jardiner/tests/test_dset_signals_receiver.sql
  dbt_jardiner/tests/test_repeated_device_uuid_errors.sql
Due: build-app-image-pre-release, release-dbt-docs-image

feature: add gap and missing uuids observation dbt tests (et/somenergia-jardiner!40)
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__tests.yaml
  dbt_jardiner/models/jardiner/marts/dm_dset_responses_observability__frequencies.sql
  dbt_jardiner/tests/test_dset_gaps_per_month_and_signal_all_time.sql
  dbt_jardiner/tests/test_dset_gaps_per_month_and_signal_last_hour.sql
  dbt_jardiner/tests/test_dset_incoming_uuids_have_references_in_signal_denormalized.sql
  dbt_jardiner/tests/test_dset_signals_receiver_all_time.sql
  dbt_jardiner/tests/test_dset_signals_receiver_last_hour.sql
Due: none

chore: update dependencies (et/somenergia-jardiner!41)
  poetry.lock
  pyproject.toml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

chore: update dbt to 1.7.3 and remove dbt-fal (et/somenergia-jardiner!42)
  poetry.lock
  pyproject.toml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

new: add query time to gaps dbt tests (et/somenergia-jardiner!43)
  dbt_jardiner/tests/test_dset_gaps_per_month_and_signal_all_time.sql
  dbt_jardiner/tests/test_dset_gaps_per_month_and_signal_last_hour.sql
Due: none

fix: update bad references between models (et/somenergia-jardiner!47)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__deduplicated.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__validate_uuids.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__view_current_hour.sql
Due: none

fix: make minio mirror task wait for nas volume (et/somenergia-jardiner!46)
  dags/dag_simel_mhcil_nas_mirror_from_minio.py
Due: none

docs: add colors brilli brilli to the dbt lineage graph (et/somenergia-jardiner!48)
  dbt_jardiner/dbt_project.yml
  dbt_jardiner/models/jardiner/intermediate/obt/obt_hourly_incremental.sql
Due: build-app-image-pre-release, release-dbt-docs-image

fix: make minio wait for nas (contd. et/somenergia-jardiner!46)(et/somenergia-jardiner!49)
  dags/dag_simel_mhcil_nas_mirror_from_minio.py
Due: none

feature: plants without data (et/somenergia-jardiner!50)
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_last_signal__from_latest_batch_dset_last.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__last_month.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__spined_metadata.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__values_incremental.sql
  dbt_jardiner/models/jardiner/marts/_marts__models.yaml
  dbt_jardiner/models/jardiner/marts/dm_dset_last_reading__from_signal_last_ts.sql
  dbt_jardiner/models/jardiner/marts/dm_metrics_production_5min.sql
  dbt_jardiner/models/jardiner/marts/dm_metrics_production_5min_wide.sql
  dbt_jardiner/models/jardiner/raw/dset/_raw_dset__models.yaml
  dbt_jardiner/models/jardiner/raw/dset/raw_dset_responses__api_response.sql
  dbt_jardiner/models/jardiner/raw/dset/raw_dset_responses__last_signal_reading.sql
Due: none

fix: spined dset with metadata is way too slow (et/somenergia-jardiner!52)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__spined_metadata.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__union_view_and_materialized.sql
Due: none

chore: Add multithreading to dbt build (et/somenergia-jardiner!51)
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

feature: add a dm with the latest info from dset (last_signal) (et/somenergia-jardiner!53)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_last_signal__from_latest_batch_dset_last.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_last_reading__from_signal_last_ts.sql
Due: none

fix: we want also signals dset has not mapped and we expect (et/somenergia-jardiner!54)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_last_signal__from_latest_batch_dset_last.sql
Due: none

change: enforce plant names at dm_plants from plant parameters (et/somenergia-jardiner!55)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_last_signal__from_latest_batch_dset_last.sql
  dbt_jardiner/models/jardiner/intermediate/gestio_actius/int_gda_plants__plants_catalog.sql
  dbt_jardiner/models/jardiner/marts/dm_plants.sql
Due: none

new: add datamart for counting all signals received from dset, per plant (et/somenergia-jardiner!56)
  dbt_jardiner/models/jardiner/marts/dm_dset__all_signals_received_per_plant.sql
Due: none

test: quality tests v2 trello card (et/somenergia-jardiner!20)
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
  dbt_jardiner/tests/test_signal_is_correctly_converted_to_numeric.sql
Due: none

fix: add metric to dm_metrics_production_5min (et/somenergia-jardiner!57)
  dbt_jardiner/models/jardiner/intermediate/gestio_actius/int_signal_device_relation__distinct_devices.sql
  dbt_jardiner/models/jardiner/marts/dm_metrics_production_5min.sql
Due: none

test: add dbt tests for detecting missing single-phase measurements (et/somenergia-jardiner!45)
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__tests.yaml
  dbt_jardiner/models/jardiner/raw/dset/raw_dset_responses__api_response.sql
  dbt_jardiner/tests/test_dset_active_power__missing_phase_last_day.sql
Due: none

update 'afegir una planta' documentation (et/somenergia-jardiner!59)
  docs/desenvolupadors/2023-08-28-afegir-planta.md
Due: none

fix: inverter monthly aggregate is wrong (et/somenergia-jardiner!58)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__materialized_one_hour_late.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_energy_inverter__agg_monthly_for_om.sql
  docs/desenvolupadors/2023-08-28-afegir-planta.md
Due: none

fix/dades fixes de plantes (et/somenergia-jardiner!63)
  dbt_jardiner/models/jardiner/intermediate/gestio_actius/int_gda_plants__plants_catalog.sql
  dbt_jardiner/models/jardiner/marts/dm_dset__all_signals_received_per_plant.sql
  dbt_jardiner/models/jardiner/marts/dm_plants.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius_plant_parameters.sql
  dbt_jardiner/models/legacy/operational/plant/gestio_actius_plant_parameters__raw_legacy.sql
Due: none

feature: implements elementary observability dashboards (et/somenergia-jardiner!64)
  .editorconfig
  .gitignore
  .gitlab-ci.yml
  dbt_jardiner/config/profiles.yml
  dbt_jardiner/dbt_project.yml
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
  dbt_jardiner/models/jardiner/marts/dm_dset_energy_inverter__agg_monthly_for_om.sql
  dbt_jardiner/models/jardiner/raw/dset/_raw_dset__models.yaml
  dbt_jardiner/package-lock.yml
  dbt_jardiner/packages.yml
  dbt_jardiner/tests/test_dset_gaps_per_month_and_signal_all_time.sql
  dbt_jardiner/tests/test_dset_gaps_per_month_and_signal_last_hour.sql
  dbt_jardiner/tests/test_dset_incoming_uuids_have_references_in_signal_denormalized.sql
  dbt_jardiner/tests/test_dset_raw_uuids_not_empty_or_null_3_days.sql
  dbt_jardiner/tests/test_dset_signals_receiver_all_time.sql
  dbt_jardiner/tests/test_dset_signals_receiver_last_hour.sql
  poetry.lock
  pyproject.toml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

fix: on schema change should be sync_all_columns (et/somenergia-jardiner!66)
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__materialized_one_hour_late.sql
Due: none

fix: fail fast on merge request (but not on prod) (et/somenergia-jardiner!67)
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

new: add a permanent redirect from / to /docs (et/somenergia-jardiner!65)
  .editorconfig
  .gitlab-ci.yml
  .prettierrc.yaml
  README.md
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

change: remove re_data from dbt packages (et/somenergia-jardiner!70)
  dbt_jardiner/package-lock.yml
  dbt_jardiner/packages.yml
Due: build-app-image-pre-release, release-dbt-docs-image

ci: define gitlab ci environments and refine pages deployment (et/somenergia-jardiner!71)
  .gitlab-ci.yml
  containers/app/Dockerfile
  dbt_jardiner/state/dev/.gitignore
  dbt_jardiner/state/dev/.gitkeep
  dbt_jardiner/state/prod/.gitignore
  dbt_jardiner/state/prod/.gitkeep
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

ci: fix pages prefixes and use smaller artifact in dbt build state (et/somenergia-jardiner!72)
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

chore: remove hardcoded references to merge requests in environment name (et/somenergia-jardiner!73)
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

add dupes test on materialized table, dedup on ts,signal_uuid instead of signal_id (et/somenergia-jardiner!69)
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__deduplicated.sql
Due: none

HOTFIX: set severity of signal_uuid dupes to warn until it's fixed
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
Due: none

fix: inverter monthly agg (et/somenergia-jardiner!60)
  dbt_jardiner/models/jardiner/marts/dm_dset_energy_inverter__agg_monthly_for_om.sql
  dbt_jardiner/models/jardiner/marts/int_dset_energy_inverter__agg_hourly_for_om.sql
Due: none

Path conditions:
  build-builder-image-pre-release: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build-app-image-pre-release: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, dbt_jardiner/config/profiles.yml, dbt_jardiner/dbt_project.yml, dbt_jardiner/packages.yml, jardiner/*, .gitlab-ci.yml
  release-dbt-docs-image: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, dbt_jardiner/config/profiles.yml, dbt_jardiner/dbt_project.yml, dbt_jardiner/packages.yml, jardiner/*, .gitlab-ci.yml
  release-mkdocs-image: any of: containers/mkdocs/Dockerfile, mkdocs.yml, pyproject.toml, poetry.lock, .gitlab-ci.yml
