Repository Som-Energia/somenergia-jardiner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-builder-image-pre-release, build-app-image-pre-release, dbt-build, release-dbt-docs-image, release-mkdocs-image

build-builder-image-pre-release:
  variables:
    SOMENERGIA_PROJECT_ENVIRONMENT: production
    SOM_JARDINER_DB_USER: $SOM_JARDINER_DB_USER
    SOM_JARDINER_DB_PASSWORD: $SOM_JARDINER_DB_PASSWORD
    SOM_JARDINER_DB_DBNAME: $SOM_JARDINER_DB_DBNAME
    SOM_JARDINER_DB_PORT: $SOM_JARDINER_DB_PORT
    SOM_JARDINER_DB_HOST: $SOM_JARDINER_DB_HOST
  ...

build-app-image-pre-release:
  variables:
    SOMENERGIA_PROJECT_ENVIRONMENT: production
    SOM_JARDINER_DB_USER: $SOM_JARDINER_DB_USER
    SOM_JARDINER_DB_PASSWORD: $SOM_JARDINER_DB_PASSWORD
    SOM_JARDINER_DB_DBNAME: $SOM_JARDINER_DB_DBNAME
    SOM_JARDINER_DB_PORT: $SOM_JARDINER_DB_PORT
    SOM_JARDINER_DB_HOST: $SOM_JARDINER_DB_HOST
  ...

dbt-build:
  stage: test
  variables:
    DBT_TARGET_NAME: pre
    DBHOST: $SOM_JARDINER_DB_HOST
    DBPORT: $SOM_JARDINER_DB_PORT
    DBUSER: $SOM_JARDINER_DB_USER
    DBPASSWORD: $SOM_JARDINER_DB_PASSWORD
    DBNAME: $SOM_JARDINER_DB_DBNAME
    DBT_MODELS_SELECTOR: --models state:modified+
  ...

release-dbt-docs-image:
  stage: release
  before_script:
  - echo "Logging in to Docker Hub"
  - docker login -u $SOM_HARBOR_DADES_USER -p $SOM_HARBOR_DADES_PASSWORD $SOM_HARBOR_DADES_URL
  script:
  - echo "Building dbt docs image"
  ...

release-mkdocs-image:
  variables:
    GIT_DEPTH: 0
    MKDOCS_IMAGE_NAME: $SOM_HARBOR_DADES_URL/${SOM_PROJECT_NAME}-mkdocs:latest
  before_script:
  - echo "Logging in to Docker Hub"
  - docker login -u $SOM_HARBOR_DADES_USER -p $SOM_HARBOR_DADES_PASSWORD $SOM_HARBOR_DADES_URL
  script:
  - echo "Building mkdocs image"
  ...

fix: make 5min view cover three months instead of one month (et/somenergia-jardiner!150)
  dbt_jardiner/models/jardiner/marts/dm_metrics_production_5min.sql
Due: dbt-build

Deployed a63e74f with MkDocs version: 1.6.0
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.081f42fc.min.js
  assets/javascripts/bundle.081f42fc.min.js.map
  assets/javascripts/bundle.fe8b6f2b.min.js
  assets/javascripts/bundle.fe8b6f2b.min.js.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

fix: allow Hedensted and Svendborg plants in solargis pipe (et/somenergia-jardiner!151)
  dbt_jardiner/models/jardiner/raw/plantmonitor_erp/raw_plantmonitor_plants.sql
Due: dbt-build

Deployed 85efeff with MkDocs version: 1.6.0
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/stylesheets/main.3cba04c6.min.css
  assets/stylesheets/main.3cba04c6.min.css.map
  assets/stylesheets/main.6543a935.min.css
  assets/stylesheets/main.6543a935.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

ref: remove dbt deps from ad-hoc commands and keep it at docker image only (et/somenergia-jardiner!146)
  .dockerignore
  .gitlab-ci.yml
  Makefile
  containers/app/docker-compose.yml
  dags/dag_jardiner_dbt_snapshot.py
  dags/dbt_test_quality_dset.py
  dags/dset_materialize_dag.py
  dags/plant_production_datasets_jardiner_dag.py
  dbt_jardiner/config/profiles.yml
  dbt_jardiner/dbt_project.yml
  docker-compose.main.yml
  docker-compose.mkdocs.yml
  docker/elementary_s3www/docker-compose.yml
  docker/main/Dockerfile
  docker/mkdocs/Dockerfile
  docker/mkdocs/README.md
  example.env
  poetry.lock
  pyproject.toml
Due: build-builder-image-pre-release, build-app-image-pre-release, dbt-build, release-dbt-docs-image, release-mkdocs-image

Deployed 55a61fc with MkDocs version: 1.6.1
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.56dfad97.min.js
  assets/javascripts/bundle.56dfad97.min.js.map
  assets/javascripts/bundle.fe8b6f2b.min.js
  assets/javascripts/bundle.fe8b6f2b.min.js.map
  assets/javascripts/workers/search.07f07601.min.js
  assets/javascripts/workers/search.07f07601.min.js.map
  assets/javascripts/workers/search.b8dbb3d2.min.js.map
  assets/stylesheets/main.35f28582.min.css
  assets/stylesheets/main.35f28582.min.css.map
  assets/stylesheets/main.3cba04c6.min.css
  assets/stylesheets/main.3cba04c6.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

fix: image not picking up dbt models (et/somenergia-jardiner!155)
  .gitlab-ci.yml
  dags/dbt_test_quality_dset.py
  dags/dset_materialize_dag.py
  docker-compose.main.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, dbt-build, release-dbt-docs-image, release-mkdocs-image

hotfix: bad reference in dbt_profiles_dir
  dags/dbt_test_quality_dset.py
  dags/dset_materialize_dag.py
Due: none

Deployed de12acc with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

chore: housekeeping in dbt project (et/somenergia-jardiner!156)
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Makefile
  dags/dset_materialize_dag.py
  dags/plant_production_datasets_dag.py
  dbt_jardiner/config/profiles.yml
  dbt_jardiner/data_tests/.gitkeep
  dbt_jardiner/data_tests/dset/test_dset_active_power__missing_phase_last_day.sql
  dbt_jardiner/data_tests/dset/test_dset_gaps_per_day_and_signal_last_month.sql
  dbt_jardiner/data_tests/dset/test_dset_incoming_uuids_have_references_in_signal_denormalized.sql
  dbt_jardiner/data_tests/dset/test_dset_raw_uuids_not_empty_or_null_3_days.sql
  dbt_jardiner/data_tests/dset/test_dset_signals_receiver_all_time.sql
  dbt_jardiner/data_tests/dset/test_dset_signals_receiver_last_hour.sql
  dbt_jardiner/data_tests/dset/test_gapfill_5min_nrows.sql
  dbt_jardiner/data_tests/dset/test_repeated_device_uuid_errors.sql
  dbt_jardiner/data_tests/dset/test_signal_is_correctly_converted_to_numeric.sql
  dbt_jardiner/data_tests/dset/test_solargis_temperature_registry.sql
  dbt_jardiner/data_tests/dset/test_spine_hourly.sql
  dbt_jardiner/dbt_project.yml
  dbt_jardiner/models/jardiner/intermediate/meteologica/_int_meteologica__models.yml
  dbt_jardiner/models/jardiner/marts/_marts__models.yaml
  dbt_jardiner/models/jardiner/observability/dset/_obs_dset__models.yml
  dbt_jardiner/models/jardiner/raw/dset/_raw_dset__models.yaml
  dbt_jardiner/packages.yml
  poetry.lock
  pyproject.toml
Due: build-builder-image-pre-release, build-app-image-pre-release, dbt-build, release-dbt-docs-image, release-mkdocs-image

ci: allow cache usage to avoid running out of space
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, dbt-build, release-dbt-docs-image, release-mkdocs-image

fix: add dbt_project_dir to snapshot dag (et/somenergia-jardiner!157)
  dags/dag_jardiner_dbt_snapshot.py
Due: none

Deployed 0a38d30 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

fix: change -app docker image to -main in dags (et/somenergia-jardiner!158)
  dags/plant_production_datasets_dag.py
  dags/plant_production_datasets_jardiner_dag.py
Due: none

Deployed 7aed68a with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

fix: replace usage of image main for dbt-deps (et/somenergia-jardiner!159)
  dags/plant_production_datasets_dag.py
  dags/plant_production_datasets_jardiner_dag.py
Due: none

docs: merge existing documentation for registering new plants (et/somenergia-jardiner!161)
  docs/desenvolupadors/2023-08-28-afegir-planta-a-superset.md
  docs/desenvolupadors/2023-08-28-alta_planta.md
  mkdocs.yml
Due: release-mkdocs-image

Deployed a7af042 with MkDocs version: 1.6.1
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.56dfad97.min.js
  assets/javascripts/bundle.56dfad97.min.js.map
  assets/javascripts/bundle.d6f25eb3.min.js
  assets/javascripts/bundle.d6f25eb3.min.js.map
  assets/javascripts/workers/search.07f07601.min.js
  assets/javascripts/workers/search.07f07601.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/stylesheets/main.35f28582.min.css
  assets/stylesheets/main.35f28582.min.css.map
  assets/stylesheets/main.8c3ca2c6.min.css
  assets/stylesheets/main.8c3ca2c6.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

docs: fix call to sun_events in 2023-08-28-alta_planta.md
  docs/desenvolupadors/2023-08-28-alta_planta.md
Due: none

Deployed 5a02885 with MkDocs version: 1.6.1
  desenvolupadors/2023-08-28-alta_planta/index.html
  search/search_index.json
Due: none

chore: minor changes on alta planta (et/somenergia-jardiner!162)
  docs/desenvolupadors/2023-06-05-download_solargis_manually.md
  docs/desenvolupadors/2023-08-28-alta_planta.md
  docs/index.md
Due: none

Deployed 9011b67 with MkDocs version: 1.6.1
  404.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.525ec568.min.js
  assets/javascripts/bundle.525ec568.min.js.map
  assets/javascripts/bundle.d6f25eb3.min.js
  assets/javascripts/bundle.d6f25eb3.min.js.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-05-download_solargis_manually/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

docs: update info about solargis registration workflow (et/somenergia-jardiner!163)
  docs/desenvolupadors/2023-08-28-alta_planta.md
Due: none

Deployed 8b7aef4 with MkDocs version: 1.6.1
  desenvolupadors/2023-08-28-alta_planta/index.html
  search/search_index.json
Due: none

docs: afegir enllaç a documentació d'api meteologica
  docs/desenvolupadors/2023-08-28-alta_planta.md
Due: none

Deployed 3721769 with MkDocs version: 1.6.1
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-05-download_solargis_manually/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

new: implement timescale and indexes on 5min incremental model (et/somenergia-jardiner!165)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__values_incremental.sql
Due: dbt-build

Deployed 6a0d2d9 with MkDocs version: 1.6.1
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.525ec568.min.js
  assets/javascripts/bundle.525ec568.min.js.map
  assets/javascripts/bundle.83f73b43.min.js
  assets/javascripts/bundle.83f73b43.min.js.map
  assets/stylesheets/main.0253249f.min.css
  assets/stylesheets/main.0253249f.min.css.map
  assets/stylesheets/main.8c3ca2c6.min.css
  assets/stylesheets/main.8c3ca2c6.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-05-download_solargis_manually/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

docs: add doc page on filling gaps in meter data (et/somenergia-jardiner!166)
  docs/desenvolupadors/2024-11-25-fill-missing-signals-data.md
Due: none

Deployed c4f15dd with MkDocs version: 1.6.1
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/stylesheets/main.0253249f.min.css
  assets/stylesheets/main.0253249f.min.css.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.6f8fc17f.min.css.map
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-05-download_solargis_manually/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  desenvolupadors/2024-11-25-fill-missing-signals-data/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

docs: add airflow step to docs about filling meter data gaps
  docs/desenvolupadors/2024-11-25-fill-missing-signals-data.md
Due: none

Deployed 0be90a8 with MkDocs version: 1.6.1
  desenvolupadors/2024-11-25-fill-missing-signals-data/index.html
  search/search_index.json
Due: none

Path conditions:
  build-builder-image-pre-release: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build-app-image-pre-release: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, dbt_jardiner/config/profiles.yml, dbt_jardiner/dbt_project.yml, dbt_jardiner/packages.yml, jardiner/*, .gitlab-ci.yml
  dbt-build: any of: dbt_jardiner/**/*.sql, dbt_jardiner/**/*.yaml, .gitlab-ci.yml
  release-dbt-docs-image: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, dbt_jardiner/config/profiles.yml, dbt_jardiner/dbt_project.yml, dbt_jardiner/packages.yml, jardiner/*, .gitlab-ci.yml
  release-mkdocs-image: any of: containers/mkdocs/Dockerfile, mkdocs.yml, pyproject.toml, poetry.lock, .gitlab-ci.yml
