Repository Som-Energia/somenergia-jardiner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

Path conditions:
  build-builder-image-pre-release: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build-app-image-pre-release: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, dbt_jardiner/config/profiles.yml, dbt_jardiner/dbt_project.yml, dbt_jardiner/packages.yml, jardiner/*, .gitlab-ci.yml
  release-dbt-docs-image: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, dbt_jardiner/config/profiles.yml, dbt_jardiner/dbt_project.yml, dbt_jardiner/packages.yml, jardiner/*, .gitlab-ci.yml
  release-mkdocs-image: any of: containers/mkdocs/Dockerfile, mkdocs.yml, pyproject.toml, poetry.lock, .gitlab-ci.yml

fix: entrypoint at Dockerfiles breaking jardiner dags (et/somenergia-jardiner!9)
  containers/app/Dockerfile
  dags/jardineria_dag.py
  dags/plant_production_datasets_dag.py
  dags/plantmonitor_alert_inverter_interinverter_relative_temperature.py
  dags/plantmonitor_alert_inverter_temperature.py
  dags/plantmonitor_alert_inverter_zero_power.py
  dags/plantmonitor_alert_meter_no_readings.py
  dags/plantmonitor_alert_meter_zero_energy.py
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image

fix: temporary revert registry and image for plant_production_datasets_dag.py
  dags/plant_production_datasets_dag.py
Due: none

Feature/dms (et/somenergia-jardiner!7)
  .gitignore
  dbt_jardiner/models/datasets/dm_metrics_production_5min.sql
  dbt_jardiner/models/datasets/dm_plant_production_daily.sql
  dbt_jardiner/models/datasets/dm_plant_production_hourly.sql
  dbt_jardiner/models/datasets/schema.yaml
  dbt_jardiner/models/operational/dset/dset_metrics_long_hourly.sql
  dbt_jardiner/models/operational/dset/dset_metrics_wide_hourly.sql
  dbt_jardiner/models/operational/dset/dset_responses_with_signal_metadata.sql
  dbt_jardiner/models/operational/external_data/omie_raw.sql
  dbt_jardiner/models/operational/obt_hourly_incremental.sql
  dbt_jardiner/models/operational/plant/plantparameters_raw.sql
  dbt_jardiner/models/operational/plant/som_plants_extended.sql
  dbt_jardiner/models/utils/schema.yaml
  dbt_jardiner/models/utils/spine_hours_localized_until_now.sql
  dbt_jardiner/seeds/general/plant_parameters.csv
  dbt_jardiner/seeds/schema.yaml
  dbt_jardiner/tests/test_solargis_temperature_registry.sql
  docs/adr/2023-09-12-redash_vs_superset.md
  jardiner/jardineria.py
  poetry.lock
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

lower severity of values range to warning (et/somenergia-jardiner!11)
  dbt_jardiner/models/jardiner/marts/_marts__models.yaml
  dbt_jardiner/models/jardiner/raw/solargis/_raw_solargis__models.yaml
Due: none

one dag to alert them all (et/somenergia-jardiner!12)
  dags/plant_alerts.py
  dags/plantmonitor_alert_inverter_interinverter_relative_temperature.py
  dags/plantmonitor_alert_inverter_temperature.py
  dags/plantmonitor_alert_inverter_zero_power.py
  dags/plantmonitor_alert_meter_no_readings.py
  dags/plantmonitor_alert_meter_zero_energy.py
Due: none

hotfix: remove repeated alert alert_meter_zero_energy
  dags/plant_alerts.py
Due: none

hotfix: active runs refers to runs, not tasks :$
  dags/plant_alerts.py
Due: none

Resolve "Problema amb permisos de usuari de contenidor per escriure a NAS" (et/somenergia-jardiner!14)
  dags/plant_production_datasets_dag.py
Due: none

hotfix: command formatted as tuple instead of string at plant_production_datasets_dag.py
  dags/plant_production_datasets_dag.py
Due: none

feature: add trigger condition to ci tasks
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

dev: add tag rule to remotely triggered ci tasks
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

new: add airflow dag to generate gitlab pages using gitlab ci triggers
  dags/generate_gitlab_ci_pages.py
Due: none

fix: missing f-strings and task id
  dags/generate_gitlab_ci_pages.py
Due: none

fix: limit the length of API signal_uuid to 36 characters
  dbt_jardiner/models/jardiner/raw/dset/raw_dset_responses__api_response.sql
Due: none

feature: datamarts for operation & maintenance personnel (et/somenergia-jardiner!13)
  dbt_jardiner/models/jardiner/marts/dm_dset_energy_inverter__agg_monthly_for_om.sql
  dbt_jardiner/models/jardiner/marts/dm_metrics_production_5min.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_hourly.sql
  dbt_jardiner/models/jardiner/marts/dm_plants.sql
  dbt_jardiner/tests/test_to_debug_device_uuid_errors.sql
Due: none

Overview dashboard datamarts + Table and incremental models DAG (et/somenergia-jardiner!16)
  Makefile
  dags/plant_production_datasets_jardiner_dag.py
  dbt_jardiner/models/jardiner/intermediate/_int__models.yaml
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset__last_registries.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_last_registries_irradiation.sql
  dbt_jardiner/models/jardiner/intermediate/erp/int_erp_meter_registry__hourly.sql
  dbt_jardiner/models/jardiner/intermediate/int_plants_overview_instant.sql
  dbt_jardiner/models/jardiner/intermediate/int_production_target__long.sql
  dbt_jardiner/models/jardiner/intermediate/int_production_target__monthly.sql
  dbt_jardiner/models/jardiner/intermediate/obt/obt_hourly_incremental.sql
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview__produccio_cartera.sql
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_instant.sql
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_monthly.sql
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_tab_1.sql
  dbt_jardiner/models/jardiner/marts/dm_metrics_production_5min_wide.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_daily.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_hourly.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_monthly.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/_raw_gestio_actius__models.yaml
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius_production_target.sql
  dbt_jardiner/models/jardiner/raw/plantmonitor_erp/_raw_plantmonitor__sources.yaml
  dbt_jardiner/models/jardiner/raw/plantmonitor_erp/raw_meterregistry.sql
  dbt_jardiner/models/jardiner/raw/utils/_utils__models.yaml
  dbt_jardiner/models/jardiner/raw/utils/spine_monthly__full_year.sql
  dbt_jardiner/seeds/general/seed_plants__parameters.csv
  dbt_jardiner/seeds/jardiner/_jardiner__seeds.yaml
  dbt_jardiner/seeds/jardiner/seed_plants__parameters.csv
  dbt_jardiner/seeds/jardiner/seed_signals__with_devices.csv
  dbt_jardiner/seeds/legacy/_legacy__seeds.yaml
  dbt_jardiner/seeds/legacy/general/plant_topic_association.csv
  dbt_jardiner/seeds/legacy/general/plant_topic_association_PENDENT_APROVACIO.csv
  dbt_jardiner/seeds/legacy/modbus_registries/modbus_registries_selected_meta.csv
  dbt_jardiner/seeds/legacy/samples/alert_inverterregistry_clean_last_hour_temperature_sample.csv
  dbt_jardiner/seeds/legacy/samples/alertdf__onealert.csv
  dbt_jardiner/seeds/legacy/samples/meter_registry_raw_1day_testing.csv
  dbt_jardiner/snapshots/_jardiner__snapshots.yaml
  dbt_jardiner/snapshots/_jardiner__snapshots_sources.yaml
  dbt_jardiner/snapshots/snapshot_production_target.sql
  docs/Sources/drive_airbyte.md
  docs/desenvolupadors/2023-06-10-overview-devs.md
Due: none

Fix MR !16 (et/somenergia-jardiner!17)
  dags/plant_production_datasets_jardiner_dag.py
Due: none

fix: multiple last ts within a metric of several device (et/somenergia-jardiner!18)
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
  dbt_jardiner/models/jardiner/intermediate/int_plants_overview_instant.sql
Due: none

Fix/dset changes (et/somenergia-jardiner!19)
  dbt_jardiner/models/jardiner/raw/dset/raw_dset_responses__api_response.sql
Due: none

fix omie price from €/kwh to €/MWh
  dbt_jardiner/models/jardiner/intermediate/obt/obt_hourly_incremental.sql
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview__produccio_cartera.sql
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_monthly.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_daily.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_hourly.sql
Due: none

modifications in dm_plant_production_monthly to make plant dashboard
  dbt_jardiner/models/jardiner/marts/_marts__models.yaml
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_monthly.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_monthly.sql
Due: none

wip new plant parameters source (airbyte instead of seed)
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius_plant_parameters.sql
  dbt_jardiner/snapshots/_jardiner__snapshots_sources.yaml
  dbt_jardiner/snapshots/snapshot_plant_parameters.sql
Due: none

added new plant paramenters source
  dbt_jardiner/models/jardiner/marts/dm_plants.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius_plant_parameters.sql
Due: none

fix documentation
  dbt_jardiner/models/jardiner/raw/utils/_utils__models.yaml
Due: none

hotfix: fix latitut typo
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius_plant_parameters.sql
Due: none

docs: add merge requests templates (et/somenergia-jardiner!21)
  .gitlab/issue_templates/default.md
  .gitlab/merge_request_templates/default.md
Due: none

fix: chown artifacts and refactor pages task in gitlab CI (et/somenergia-jardiner!22)
  .gitlab-ci.yml
  .pre-commit-config.yaml
  dags/plant_alerts.py
  jardiner/jardineria.py
  pyproject.toml
  scripts/notify_alert.py
  tests/quarantine/test_jardineria.py
  tests/quarantine/test_notify_alert.py
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

Separate legacy and jardiner dbt models using tags (et/somenergia-jardiner!23)
  .gitignore
  .gitlab-ci.yml
  .gitlab-ci/.pre-commit.yml
  .gitlab/merge_request_templates/airflow.md
  .gitlab/merge_request_templates/dbt.md
  .sqlfluff
  dags/jardineria_dag.py
  dags/plant_alerts.py
  dags/plant_production_datasets_dag.py
  dags/plant_production_datasets_jardiner_dag.py
  dbt_jardiner/dbt_project.yml
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_last_registries_irradiation.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_metrics_long_hourly.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_metrics_wide_hourly.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__last_month.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__values_incremental.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_signal_device_relation__distinct_devices.sql
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_instant.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_responses__check_if_we_receive_data_for_signals.sql
  dbt_jardiner/models/jardiner/marts/dm_plant_production_daily.sql
  dbt_jardiner/models/legacy/alerts/stage/alert_inverterregistry_clean_last_hour.sql
  dbt_jardiner/models/legacy/datasets/plant_production_hourly.sql
  dbt_jardiner/models/overview.md
  dbt_jardiner/seeds/jardiner/_jardiner__seeds.yaml
  dbt_jardiner/seeds/legacy/_legacy__seeds.yaml
  docs/desenvolupadors/2023-06-10-overview-devs.md
  poetry.lock
  pyproject.toml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

hotfix: bad dbt parameter -s is not for --selector
  dags/plant_production_datasets_jardiner_dag.py
Due: none

feature: add dbt model to deduplicate records to dset api (et/somenergia-jardiner!24)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__deduplicated.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__with_signal_metadata.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_responses__check_if_we_receive_data_for_signals.sql
  dbt_jardiner/models/jardiner/raw/dset/raw_dset_responses__api_response.sql
Due: none

update string names of assomada strings
  dbt_jardiner/seeds/jardiner/seed_signals__with_devices.csv
Due: none

chore: document airbyte omie historical price hour change from fr to incremental (et/somenergia-jardiner!27)
  dbt_jardiner/models/jardiner/raw/omie/_raw_omie__sources.yaml
  dbt_jardiner/models/jardiner/raw/omie/raw_plantlake_omie_historical_price__with_row_number_per_date.sql
Due: none

dev: add sleep with debug flag to dbt-docs-generate task at ci
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

ci: fix chown task not setting permissions properly (et/somenergia-jardiner!28)
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

new: update seeds new plants (makassar, valteina and fontivsolar) (et/somenergia-jardiner!26)
  .editorconfig
  .gitignore
  .sqlfluff
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_metrics_long_hourly.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__with_signal_metadata.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_signal_device_relation__distinct_devices.sql
  dbt_jardiner/models/jardiner/intermediate/int_plants_overview_instant.sql
  dbt_jardiner/models/jardiner/intermediate/obt/obt_hourly_incremental.sql
  dbt_jardiner/models/jardiner/intermediate/solargis/int_satellite_readings__denormalized.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_responses__check_if_we_receive_data_for_signals.sql
  dbt_jardiner/models/jardiner/marts/dm_plants.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/_raw_gestio_actius__models.yaml
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius__signal_denormalized.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius_plant_parameters.sql
  dbt_jardiner/models/jardiner/raw/misc/_raw_misc__models.yaml
  dbt_jardiner/models/jardiner/raw/misc/raw_devices__with_signals.sql
  dbt_jardiner/seeds/jardiner/_jardiner__seeds.yaml
  dbt_jardiner/seeds/jardiner/seed_signals__with_devices.csv
  dbt_jardiner/snapshots/_jardiner__snapshots.yaml
  dbt_jardiner/snapshots/_jardiner__snapshots_sources.yaml
  dbt_jardiner/snapshots/snapshot_plant_parameters.sql
  dbt_jardiner/snapshots/snapshot_production_target.sql
  dbt_jardiner/snapshots/snapshot_signal_denormalized.sql
  dbt_jardiner/tests/test_device_uuid_repeated.sql
  dbt_jardiner/tests/test_dset_signals_receiver.sql
  dbt_jardiner/tests/test_repeated_device_uuid_errors.sql
Due: none

Revert "new: update seeds new plants (makassar, valteina and fontivsolar) (et/somenergia-jardiner!26)"
  .editorconfig
  .gitignore
  .sqlfluff
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_metrics_long_hourly.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__with_signal_metadata.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_signal_device_relation__distinct_devices.sql
  dbt_jardiner/models/jardiner/intermediate/int_plants_overview_instant.sql
  dbt_jardiner/models/jardiner/intermediate/obt/obt_hourly_incremental.sql
  dbt_jardiner/models/jardiner/intermediate/solargis/int_satellite_readings__denormalized.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_responses__check_if_we_receive_data_for_signals.sql
  dbt_jardiner/models/jardiner/marts/dm_plants.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/_raw_gestio_actius__models.yaml
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius__signal_denormalized.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius_plant_parameters.sql
  dbt_jardiner/models/jardiner/raw/misc/_raw_misc__models.yaml
  dbt_jardiner/models/jardiner/raw/misc/raw_devices__with_signals.sql
  dbt_jardiner/seeds/jardiner/_jardiner__seeds.yaml
  dbt_jardiner/seeds/jardiner/seed_signals__with_devices.csv
  dbt_jardiner/snapshots/_jardiner__snapshots.yaml
  dbt_jardiner/snapshots/_jardiner__snapshots_sources.yaml
  dbt_jardiner/snapshots/snapshot_plant_parameters.sql
  dbt_jardiner/snapshots/snapshot_production_target.sql
  dbt_jardiner/snapshots/snapshot_signal_denormalized.sql
  dbt_jardiner/tests/test_device_uuid_repeated.sql
  dbt_jardiner/tests/test_dset_signals_receiver.sql
  dbt_jardiner/tests/test_to_debug_device_uuid_errors.sql
Due: none

new: add new plants (contd. from !26) (et/somenergia-jardiner!29)
  .editorconfig
  .gitignore
  .prettierrc.yaml
  .sqlfluff
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_metrics_long_hourly.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__with_signal_metadata.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_signal_device_relation__distinct_devices.sql
  dbt_jardiner/models/jardiner/intermediate/int_plants_overview_instant.sql
  dbt_jardiner/models/jardiner/intermediate/obt/obt_hourly_incremental.sql
  dbt_jardiner/models/jardiner/intermediate/solargis/int_satellite_readings__denormalized.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_energy_inverter__agg_monthly_for_om.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_responses__check_if_we_receive_data_for_signals.sql
  dbt_jardiner/models/jardiner/marts/dm_plants.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/_raw_gestio_actius__models.yaml
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius__signal_denormalized.sql
  dbt_jardiner/models/jardiner/raw/gestio_actius/raw_gestio_actius_plant_parameters.sql
  dbt_jardiner/models/jardiner/raw/misc/_raw_misc__models.yaml
  dbt_jardiner/models/jardiner/raw/misc/raw_devices__with_signals.sql
  dbt_jardiner/seeds/jardiner/_jardiner__seeds.yaml
  dbt_jardiner/seeds/jardiner/seed_plants__parameters.csv
  dbt_jardiner/seeds/jardiner/seed_signals__with_devices.csv
  dbt_jardiner/snapshots/_jardiner__snapshots.yaml
  dbt_jardiner/snapshots/_jardiner__snapshots_sources.yaml
  dbt_jardiner/snapshots/snapshot_plant_parameters.sql
  dbt_jardiner/snapshots/snapshot_production_target.sql
  dbt_jardiner/snapshots/snapshot_signal_denormalized.sql
  dbt_jardiner/tests/test_device_uuid_repeated.sql
  dbt_jardiner/tests/test_dset_signals_receiver.sql
  dbt_jardiner/tests/test_repeated_device_uuid_errors.sql
Due: none

new: improve loading time by combination of materialized and view dbt models (et/somenergia-jardiner!32)
  .prettierrc.yaml
  dags/dset_materialize_dag.py
  dbt_jardiner/models/jardiner/intermediate/dset/_int_dset__models.yaml
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__deduplicated.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__materialized_one_hour_late.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__union_view_and_materialized.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__view_current_hour.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_responses_observability__frequencies.sql
  dbt_jardiner/models/jardiner/raw/dset/_raw_dset__models.yaml
Due: none

fix: make dbt model with dset joined data point to union instead of raw dbt model (et/somenergia-jardiner!34)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_responses__with_signal_metadata.sql
Due: none
