Repository Som-Energia/somenergia-jardiner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-builder-image-pre-release, build-app-image-pre-release, dbt-build, release-dbt-docs-image, release-mkdocs-image

build-builder-image-pre-release:
  variables:
    SOMENERGIA_PROJECT_ENVIRONMENT: production
    SOM_JARDINER_DB_USER: $SOM_JARDINER_DB_USER
    SOM_JARDINER_DB_PASSWORD: $SOM_JARDINER_DB_PASSWORD
    SOM_JARDINER_DB_DBNAME: $SOM_JARDINER_DB_DBNAME
    SOM_JARDINER_DB_PORT: $SOM_JARDINER_DB_PORT
    SOM_JARDINER_DB_HOST: $SOM_JARDINER_DB_HOST
  ...

build-app-image-pre-release:
  variables:
    SOMENERGIA_PROJECT_ENVIRONMENT: production
    SOM_JARDINER_DB_USER: $SOM_JARDINER_DB_USER
    SOM_JARDINER_DB_PASSWORD: $SOM_JARDINER_DB_PASSWORD
    SOM_JARDINER_DB_DBNAME: $SOM_JARDINER_DB_DBNAME
    SOM_JARDINER_DB_PORT: $SOM_JARDINER_DB_PORT
    SOM_JARDINER_DB_HOST: $SOM_JARDINER_DB_HOST
  ...

dbt-build:
  stage: test
  variables:
    DBT_TARGET_NAME: pre
    DBHOST: $SOM_JARDINER_DB_HOST
    DBPORT: $SOM_JARDINER_DB_PORT
    DBUSER: $SOM_JARDINER_DB_USER
    DBPASSWORD: $SOM_JARDINER_DB_PASSWORD
    DBNAME: $SOM_JARDINER_DB_DBNAME
    DBT_MODELS_SELECTOR: --models state:modified+
  ...

release-dbt-docs-image:
  stage: release
  before_script:
  - echo "Logging in to Docker Hub"
  - docker login -u $SOM_HARBOR_DADES_USER -p $SOM_HARBOR_DADES_PASSWORD $SOM_HARBOR_DADES_URL
  script:
  - echo "Building dbt docs image"
  ...

release-mkdocs-image:
  variables:
    GIT_DEPTH: 0
    MKDOCS_IMAGE_NAME: $SOM_HARBOR_DADES_URL/${SOM_PROJECT_NAME}-mkdocs:latest
  before_script:
  - echo "Logging in to Docker Hub"
  - docker login -u $SOM_HARBOR_DADES_USER -p $SOM_HARBOR_DADES_PASSWORD $SOM_HARBOR_DADES_URL
  script:
  - echo "Building mkdocs image"
  ...

Deployed c685515 with MkDocs version: 1.5.3
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.8fd75fb4.min.js
  assets/javascripts/bundle.8fd75fb4.min.js.map
  assets/javascripts/bundle.c8d2eff1.min.js
  assets/javascripts/bundle.c8d2eff1.min.js.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

Resolve "Evolució mensual acumulada - Preu OMIE" (et/somenergia-jardiner!130)
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_monthly.sql
Due: dbt-build

Deployed e5ee0b1 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

hotfix: target window is different than production window (et/somenergia-jardiner!132)
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_monthly.sql
Due: dbt-build

Deployed de034e2 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

docs: update broken links
  README.md
Due: none

Deployed ffecb5b with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Resolve "Grafica Energia Exportada i PR - més decimals" (et/somenergia-jardiner!135)
  dbt_jardiner/models/jardiner/marts/dm_plant_production_monthly.sql
Due: dbt-build

Deployed 819e5e4 with MkDocs version: 1.5.3
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

Resolve "Aproximar la potència a partir de dos valors d'energia consecutius" (et/somenergia-jardiner!133)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset__power_from_instant_energy.sql
  dbt_jardiner/models/jardiner/intermediate/int_plants_overview_instant.sql
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_instant.sql
  dbt_jardiner/models/jardiner/observability/dset/obs_dset_responses__instant_power_comparison.sql
Due: dbt-build

Deployed 5dcde7a with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

fix: catalanitzar obs_ (et/somenergia-jardiner!136)
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_instant.sql
  dbt_jardiner/models/jardiner/observability/dset/obs_dset_responses__instant_power_comparison.sql
Due: dbt-build

Deployed 1378027 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

feature: omie price com a mitja corrent truncada a l'any actual (et/somenergia-jardiner!134)
  .sqlfluff
  dbt_jardiner/models/jardiner/marts/dm_dashboard_overview_monthly.sql
  dbt_jardiner/models/jardiner/marts/dm_metrics_production_5min.sql
Due: dbt-build

Deployed 0bce4fb with MkDocs version: 1.5.3
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  sitemap.xml.gz
Due: none

fix: quarthour meters are final (et/somenergia-jardiner!129)
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_meter__readings.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_meter__readings_wide.sql
  dbt_jardiner/models/jardiner/intermediate/dset/int_dset_meter__readings_wide_hourly.sql
  dbt_jardiner/models/jardiner/marts/dm_dset_meter__readings.sql
  dbt_jardiner/models/jardiner/raw/dset/raw_dset_meter__readings.sql
Due: dbt-build

Deployed 951b028 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Resolve "Taula indicadors propis - energia_desviada_percent no sembla correcte." (et/somenergia-jardiner!138)
  dbt_jardiner/models/jardiner/marts/dm_plant_production_monthly.sql
Due: dbt-build

Deployed a8b3d95 with MkDocs version: 1.5.3
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.bd41221c.min.js
  assets/javascripts/bundle.bd41221c.min.js.map
  assets/javascripts/bundle.c8d2eff1.min.js
  assets/javascripts/bundle.c8d2eff1.min.js.map
  assets/stylesheets/main.10ba22f1.min.css
  assets/stylesheets/main.10ba22f1.min.css.map
  assets/stylesheets/main.7e359304.min.css
  assets/stylesheets/main.7e359304.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

fix: clarified observability dashboard (et/somenergia-jardiner!139)
  dbt_jardiner/models/jardiner/observability/dset/_obs_dset__models.yml
  dbt_jardiner/models/jardiner/observability/dset/obs_dset_responses__expected_signals.sql
  dbt_jardiner/models/jardiner/observability/dset/obs_dset_responses__unexpected_signals.sql
Due: dbt-build

Deployed 3a76b19 with MkDocs version: 1.5.3
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/stylesheets/main.10ba22f1.min.css
  assets/stylesheets/main.10ba22f1.min.css.map
  assets/stylesheets/main.7e359304.min.css
  assets/stylesheets/main.7e359304.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

chore: update elementary version and fix report generation (et/somenergia-jardiner!140)
  dags/dbt_test_quality_dset.py
  dbt_jardiner/package-lock.yml
  dbt_jardiner/packages.yml
  poetry.lock
  pyproject.toml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

Deployed 7c153b0 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Deployed 2303ce3 with MkDocs version: 1.5.3
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.1e8ae164.min.js
  assets/javascripts/bundle.1e8ae164.min.js.map
  assets/javascripts/bundle.bd41221c.min.js
  assets/javascripts/bundle.bd41221c.min.js.map
  assets/stylesheets/main.7e359304.min.css
  assets/stylesheets/main.7e359304.min.css.map
  assets/stylesheets/main.bcfcd587.min.css
  assets/stylesheets/main.bcfcd587.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

chore: netejar codi legacy de dags i dbt (et/somenergia-jardiner!142)
  .gitlab-ci.yml
  dags/dag_jardiner_dbt_snapshot.py
  dags/dag_simel_mhcil_nas_mirror_from_minio.py
  dags/dbt_test_quality_dset.py
  dags/dset_materialize_dag.py
  dags/generate_gitlab_ci_pages.py
  dags/jardineria_dag.py
  dags/plant_alerts.py
  dags/plant_production_datasets_dag.py
  dags/plant_production_datasets_jardiner_dag.py
  dbt_jardiner/config/profiles.yml
  scripts/.gitkeep
  scripts/notify_alert.py
Due: build-builder-image-pre-release, build-app-image-pre-release, dbt-build, release-dbt-docs-image, release-mkdocs-image

Deployed 847b11a with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

fix: run dbt build on target test instead of pre (et/somenergia-jardiner!143)
  .gitlab-ci.yml
Due: build-builder-image-pre-release, build-app-image-pre-release, dbt-build, release-dbt-docs-image, release-mkdocs-image

Deployed 43832d4 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

new: add normalize dbt profile to profiles.yml (et/somenergia-jardiner!144)
  dbt_jardiner/config/profiles.yml
Due: build-app-image-pre-release, release-dbt-docs-image

Deployed ca4f5b0 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

new: add mhcil transformations in dbt to datamarts (et/somenergia-jardiner!38)
  dbt_jardiner/dbt_project.yml
  dbt_jardiner/models/jardiner/intermediate/simel/_simel__sources.yaml
  dbt_jardiner/models/jardiner/intermediate/simel/int_simel_mhcil__pen_best_ranked_incremental.sql
  dbt_jardiner/models/jardiner/intermediate/simel/int_simel_mhcil__pen_best_ranked_view.sql
  dbt_jardiner/models/jardiner/intermediate/simel/int_simel_mhcil__pen_extended.sql
  dbt_jardiner/models/jardiner/raw/simel/.gitkeep
  dbt_jardiner/models/jardiner/raw/simel/_simel__models.yaml
  dbt_jardiner/models/jardiner/raw/simel/_simel__sources.yaml
  dbt_jardiner/models/jardiner/raw/simel/raw_airbyte_simel__mhcil_pen.sql
  dbt_jardiner/seeds/jardiner/_jardiner__seeds.yaml
  dbt_jardiner/seeds/jardiner/seed_simel_mhcil_rankings__firmeza.csv
  dbt_jardiner/seeds/jardiner/seed_simel_mhcil_rankings__maturity.csv
  dbt_jardiner/tests/dset/test_dset_signals_receiver_last_hour.sql
Due: build-app-image-pre-release, dbt-build, release-dbt-docs-image

Deployed 889fb56 with MkDocs version: 1.6.0
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.1e8ae164.min.js
  assets/javascripts/bundle.1e8ae164.min.js.map
  assets/javascripts/bundle.a7c05c9e.min.js
  assets/javascripts/bundle.a7c05c9e.min.js.map
  assets/stylesheets/main.66ac8b77.min.css
  assets/stylesheets/main.66ac8b77.min.css.map
  assets/stylesheets/main.bcfcd587.min.css
  assets/stylesheets/main.bcfcd587.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

new: add elementary monitor test for percentage and count nulls (et/somenergia-jardiner!148)
  dbt_jardiner/models/jardiner/raw/dset/_raw_dset__models.yaml
Due: dbt-build

Deployed 7c28c72 with MkDocs version: 1.6.0
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.5cfa9459.min.js
  assets/javascripts/bundle.5cfa9459.min.js.map
  assets/javascripts/bundle.a7c05c9e.min.js
  assets/javascripts/bundle.a7c05c9e.min.js.map
  assets/stylesheets/main.66ac8b77.min.css
  assets/stylesheets/main.66ac8b77.min.css.map
  assets/stylesheets/main.732c4fb1.min.css
  assets/stylesheets/main.732c4fb1.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

fix: make solargis test warn instead of err (et/somenergia-jardiner!149)
  dbt_jardiner/tests/dset/test_solargis_temperature_registry.sql
Due: dbt-build

Deployed dd4d21f with MkDocs version: 1.6.0
  404.html
  Sources/drive_airbyte/index.html
  adr/2022-10-11-dbt_workflow_meter_alarms/index.html
  adr/2022-10-14-meter_alarm_logic/index.html
  adr/2022-10-14-spines/index.html
  adr/2022-10-26-real-time_alarms/index.html
  adr/2023-06-13-obt_plantes/index.html
  adr/2023-06-13-pipeline_dades_llargues/index.html
  adr/2023-09-12-redash_vs_superset/index.html
  adr/template/index.html
  assets/javascripts/bundle.081f42fc.min.js
  assets/javascripts/bundle.081f42fc.min.js.map
  assets/javascripts/bundle.5cfa9459.min.js
  assets/javascripts/bundle.5cfa9459.min.js.map
  assets/stylesheets/main.6543a935.min.css
  assets/stylesheets/main.6543a935.min.css.map
  assets/stylesheets/main.732c4fb1.min.css
  assets/stylesheets/main.732c4fb1.min.css.map
  deprecated/TODOs/index.html
  desenvolupadors/2023-02-08-novu_notifications/index.html
  desenvolupadors/2023-06-10-overview-devs/index.html
  desenvolupadors/2023-07-10-dbt_cmds_utils/index.html
  desenvolupadors/2023-07-13-codi_reciclable/index.html
  desenvolupadors/2023-08-28-afegir-planta-a-superset/index.html
  desenvolupadors/2023-08-28-alta_planta/index.html
  desenvolupadors/2024-01-11-incremental-dedup/index.html
  desenvolupadors/2024-02-16-row-level-security/index.html
  index.html
  projecte/2023-06-03-macrofase roadmap/index.html
  projecte/2023-06-03-overview/index.html
  sitemap.xml.gz
Due: none

chore: update python version and deps (et/somenergia-jardiner!145)
  containers/app/Dockerfile
  poetry.lock
  pyproject.toml
Due: build-builder-image-pre-release, build-app-image-pre-release, release-dbt-docs-image, release-mkdocs-image

Path conditions:
  build-builder-image-pre-release: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build-app-image-pre-release: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, dbt_jardiner/config/profiles.yml, dbt_jardiner/dbt_project.yml, dbt_jardiner/packages.yml, jardiner/*, .gitlab-ci.yml
  dbt-build: any of: dbt_jardiner/**/*.sql, dbt_jardiner/**/*.yaml, .gitlab-ci.yml
  release-dbt-docs-image: any of: containers/app/Dockerfile, pyproject.toml, poetry.lock, dbt_jardiner/config/profiles.yml, dbt_jardiner/dbt_project.yml, dbt_jardiner/packages.yml, jardiner/*, .gitlab-ci.yml
  release-mkdocs-image: any of: containers/mkdocs/Dockerfile, mkdocs.yml, pyproject.toml, poetry.lock, .gitlab-ci.yml
